{
  "extends": ["prettier"],
  "rules": {
    "array-bracket-spacing": ["error", "always"],
    "camelcase": ["error", { properties: "always", }, ],
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "object-curly-spacing": ["error", "always"],
  },
  "parserOptions": {
   "ecmaVersion": 6
 }
}