body {
  padding: 0;
  margin: 0;
  font-family: GT-Eesti;
  font-weight: normal;
}

form {
  position: relative;
}

.calculator_title {
  padding: 1rem;
}

.calculator_title p {
  font-family: GT-Eesti-lighter;
}

.calculator {
  display: flex;
  flex-direction: column;
}

.input_groups {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input_group {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 12rem;
}

.explanation {
  font-family: GT-Eesti-lighter;
  font-size: 0.8rem;
}

.result {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.result_text {
}

.result_amount {
  font-size: 2rem;
}

.input_group input {
  padding: 1rem 0.5rem 1rem 0.5rem;
  font-size: 1rem;
  width: 50%;
  outline: none;
  border: 0;
}

.inline {
  display: inline;
  position: relative;
}

.input_group .inline {
  border: solid black 1px;
  padding-left: 0.5rem;
  justify-content: stretch;
  display: flex;
  align-items: center;
}

.percentage {
  position: absolute;
  right: 1rem;
}

.input_group label {
  font-size: 0.9rem;
  position: relative;
  cursor: pointer;
}

.bottom_copy {
  padding: 0rem 1rem 0rem 1rem;
  font-family: GT-Eesti-lighter;
}

@font-face {
  font-family: 'GT-Eesti';
  src: url('public/GT-Eesti-Display-Regular-2.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT-Eesti-lighter';
  src: url('public/GT-Eesti-Display-Light.ttf');
  font-weight: lighter;
  font-style: normal;
}

@media only screen and (min-width: 800px) {
  .calculator {
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
}
